@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Nunito';
}


main {
    flex: 1 0 auto;
}
h1 {
    color: #1F2340;
    font-weight:bold;
}
footer{
    background-color: #82358B!important;
}
.no-pad-bot figure{
    width: 80%;
    margin: 0 auto;
    max-height: 70vh;
}
.no-pad-bot figure img {
    width: 70%
}
.slide4{ background-color: #E91E63; 
    color: white;
    height: 100vh;

}
.slide3{ background-color: #42A5F5; 
    color: white;
    height: 100vh;

}
.slide2{ background-color: #00B0FF; 
    color: white;
    height: 100vh;

}
.slide2 figure img{
    width: 100%;
}
.slide2 figure{
    margin: 0
}
.slide2 h4{
    margin-top: 0;
    font-weight: bold;
}
.slide3 figure img{
    width: 100%;
}
.slide3 figure{
    margin: 0
}
.slide3 h4{
    margin-top: 0;
    font-weight: bold;
}
.slide4 figure img{
    width: 100%;
}
.slide4 figure{
    margin: 0
}
.slide4 h4{
    margin-top: 0;
    font-weight: bold;
}
.back{
    background:linear-gradient(-20deg,#82358B, #E6214B,#15162C, #1F2340);
    background-size: 300% 300%;
    width: 100%;
    height: 100vh;
    line-height: 6;
    -webkit-animation: animation 30s ease infinite;
    -moz-animation: animation 30s ease infinite;
    animation: animation 30s ease infinite;
}


@-webkit-keyframes animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#pitch{
    text-align: center;
    position: relative;
}

#social{
 margin-left: 20px;
}
#download-button{
    margin-top: 25px;
    background-color: #82358B !important;
}
.container article{
    margin-top: 50px;
}



#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right:30px;
    z-index: 99;
    border:none;
    outline: none;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 18.5px 25px;
    border-radius:2%;
}

#myBtn a {
    color: white;
}